@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background-color: #F7F7F8;
  color: black;
}

.background {
  @apply h-full;
  background-image: url('/images/photo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_login {
  @apply h-full;
  background-image: url('/images/photo3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-logo {
  width: 400px;
  height: 160px;
  background-image: url('/images/logoGood.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_confirm_email {
  @apply h-full;
  background-image: url('/images/photo1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-logo-navbar {
  width: 150px;
  height: 56px;
  background-image: url('/images/logoGood.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-logo-email {
  width: 140px;
  height: 60px;
  background-image: url('/images/logoGood.png');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  @apply font-bold;
  font-size: 30px;
}

h2 {
  @apply font-medium;
  font-size: 28px;
}

h3 {
  @apply font-semibold;
  font-size: 16px;
}

h4 {
  @apply font-medium;
  font-size: 14px;
  color: #171717;
}

p {
  @apply font-normal;
  font-size: 12px;
}

input {
  @apply w-full font-medium text-sm placeholder:text-gray-400;
  background-color: transparent;
}

.inputNumberQuantity {
  @apply font-normal bg-red-500 text-sm placeholder:text-gray-400;
}

input:focus {
  outline: none;
}

label {
  @apply text-xs font-bold text-neutral-800;
}

select {
  @apply bg-white w-full font-medium;
}

select:focus {
  outline: none;
}

.inputLogin {
  @apply border-1 border-gray-300 w-full px-2 py-1 flex justify-start items-center gap-2 rounded-[5px];
}

.inputLogin:focus-within {
  @apply border-blue-400  shadow-sm shadow-blue-200;
}

.inputSize {
  @apply p-1 flex justify-center items-center gap-2 rounded-lg border-1;
  -moz-appearance: textfield;
}

.inputSizeNumber {
  @apply text-sm font-normal;
  -moz-appearance: textfield;
}
.inputSizeCart {
  -moz-appearance: textfield;
}

.inputSizeCart::-webkit-inner-spin-button,
.inputSizeCart::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputNumber::-webkit-inner-spin-button,
.inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputSizeNumber::-webkit-inner-spin-button,
.inputSizeNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputNumber {
  @apply bg-white w-full p-2 flex justify-center text-center items-center gap-2 rounded-lg text-2xl font-semibold;
  border-width: 1px;
}

.border-1 {
  border-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1.5px;
}

.inputNumber:focus {
  @apply border-black;
  border-width: 1px;
}

/* button[type="submit"]{
  @apply bg-black text-white w-full py-3 rounded-lg text-sm
} */

.form-errors {
  @apply font-semibold text-[#FF0000] flex gap-1;
  font-size: 10px;
}

.border-1 {
  border-width: 1px;
}

.dropdown-profile {
  top: 60px;
  right: 82px;
}
.dropdown-cart {
  top: 60px;
  right: 45px;
}

.text-2xs {
  font-size: 10px;
  line-height: 14px;
}

.cart-number {
  @apply font-bold;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 2px 6px;
  font-size: 8px;
}

.link-footer {
  @apply font-normal;
  font-size: 14px;
  color: #666666;
}

.search-bar-container {
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.label-profile {
  @apply text-gray-500;
}

.delete-alert {
  @apply flex justify-center items-center;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 151, 151, 0.9);
  z-index: 1;

}

.withoutScroll {
  overflow: hidden;
}

.p-nav {
  @apply font-medium cursor-pointer hover:text-black;
}

.section-profile-settings{
  @apply w-full h-full text-center py-1  border-black
}